@import './stylus/index'

/* for the browsers that don't support media query */
responsive-grid('desktop')

/* Tablet */
@media (max-width: 1020px)
  responsive-grid('tablet')

/* Mobile */
@media (max-width: 640px)
  responsive-grid('mobile')
