doctype 5
html
  head
    title Responsive grid
    link(rel="stylesheet", href="index.css")
    :stylus
      .row
        >*
          text-align center
          margin-bottom 10px
          background-color #DDD
          font normal 300 18px sans-serif

  body
    .row
      .desktop-3.tablet-6.mobile-12
        p .desktop-3.tablet-6.mobile-12
      .desktop-3.tablet-6.mobile-12
        p .desktop-3.tablet-6.mobile-12
      .desktop-3.tablet-6.mobile-12
        p .desktop-3.tablet-6.mobile-12
      .desktop-3.tablet-6.mobile-12
        p .desktop-3.tablet-6.mobile-12
